@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #14213d;
  color: #fca311;
  font-family: "Poppins", sans-serif;
}

form {
  background-color: #e5e5e5;
  width: 60%;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

#title {
  margin-bottom: 0;
  font-size: 40px;
  text-align: center;
}

#description {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
}

input[type="text"], input[type="email"], input[type="number"], select, textarea {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  font-size: 15px;
  border: 2px solid #14213d;
  margin-bottom: 10px; 
}

button, #name-label, #email-label, #number-label, #dropdown-label, #survey-form p {
  font-size: 20px;
}

.shirt-radios, .discover-checkboxes {
	color: #14213d;
}


textarea {
  border: 2px solid #14213d;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

button {
  color: #fca311;
  background-color: #14213d;
  padding: 10px;
  width: 100%;
}

button:hover {
  color: #14213d;
  background-color: #fca311;
}
